<!DOCTYPE html>
<html>
  <head>
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <a href="/">Back</a><br><br>
  <body>
    <h1>404 Page Not Found</h1>
    Uh oh, looks like the website got stucky wucky. This page doesn't exist!

    <br><br>
    <img src="/images/404_meow.png" alt="404 not found" width="50%">
    <br>
  </body>
</html>