<!DOCTYPE html>
<html>
  <head>
    <title>woah</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <a href="/">Back</a><br><br>
  <body>
    <h1>you found a secret!</h1>
    wonder if lab 5 could be used here...

    <br><br>
    <img src="/images/bear.png" alt="what even are color channels... pog" width="50%">
    <br>
  </body>
</html>