<link rel="stylesheet" href="/stylesheets/style.css" />

<a href="/">Back</a><br><br>
<h1>disclaimer</h1>
Hi everyone! Please keep OverheardSPIS clean and family friendly. 
The same rules of respect used during SPIS hours should apply to quotes submitted to this website.
Quotes that violate the rules will be removed.
<br><br>
Please keep your friendly neighborhood SPIS dev safe <3